@charset "UTF-8";
/* CSS Document */

div#enter{
	-moz-order-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color:#5292a1;
	font-size:20px;
	font-weight:bold;
	clear:both;
	width:450px;
	margin:auto;
}

div#container{
	clear:left;
	height:100px;
	padding-top:150px;
}

div#enter a{
	display:block;
	padding:60px;
	text-decoration:none;
	
	color:#fff;
}

div#enter a:hover{
	color:#5292a1;
}

div#enter:hover{
	background-color:#fff;
	border: solid 2px #5292a1;
}